.posit-header-nav-ul-button:hover, .posit-header-nav-ul li:hover, .posit-main-sec1-button:hover, .posit-main-company-sec-img:hover {
    transform: scale(1.1);
}

.posit-header {
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    display: flex;
}

.posit-header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.posit-header-logo {
    max-width: 220px;
    max-height: 36px;
}

.posit-header-logo-container {
    display: flex;
    align-items: center;
}

.posit-header-nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 90vh;
    justify-content: space-between;
    align-items: center;
}

.posit-header-nav-ul a {
    text-decoration: none;
    color: black;
    font-family: "Space Grotesk", sans-serif;
}

.posit-header-nav-ul li {
    transition: transform 0.5s ease-in-out;
}

.posit-header-nav-ul-button {
    border: 1px solid black;
    border-radius: 14px;
    width: 231px;
    height: 68px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}


.posit-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.posit-main-sec1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.posit-main-sec1-img {
    max-width: 700px;
    max-height: 615px;
}

.posit-main-sec1-text-header {
    font-size: 70px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

.posit-main-sec1-text-paragraph {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-sec1-button {
    width: 264px;
    height: 68px;
    background-color: #191A23;
    border: 0;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    transition: transform 0.5s ease-in-out;
}

.posit-main-company-sec {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 70px;
}

.posit-main-company-sec-part1, .posit-main-company-sec-part2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.posit-main-company-sec-img {
    transition: transform 0.5s ease-in-out;
}

.posit-main-services-sec {
    margin-top: 140px;
    width: 80%;
}

.posit-main-services-sec-header {
    display: flex;
    justify-content: space-between;
    width: 63%;
    align-items: center;
}

.posit-main-services-sec-header h1 {
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    background-color: #B9FF66;
    padding: 5px;
    border-radius: 7px;
}

.posit-main-services-sec-header p {
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-services-sec-cards {
    height: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.posit-main-services-card-1 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-2 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-3 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-4 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-5 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-6 {
    width: 700px;
    height: 310px;
    background-color: #F3F3F3;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-sec-cards-part2 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: column;
}