.posit-header-nav-ul-button:hover,
.posit-header-nav-ul li:hover,
.posit-main-sec-button:hover,
.posit-main-company-sec-img:hover,
.posit-main-services-card-container-part1-g a:hover,
.posit-main-services-card-container-part1-w a:hover,
.posit-main-proposal-sec-container-part1 button:hover,
.posit-main-casestud-sec-case img:hover,
.posit-main-team-sec-inline-staff:hover {
    transform: scale(1.1);
}

.posit-header {
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    display: flex;
}

.posit-header-wrap {
    display: none;
}

.posit-main-sec-header {
    width: 80%;
    display: flex;
    align-items: center;
}

.posit-main-sec-header h1 {
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    background-color: var(--posit-green);
    padding: 5px;
    border-radius: 7px;
}

.posit-main-sec-header p {
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    margin-left: 40px;
    width: 45%;
}

.posit-header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.posit-header-logo {
    max-width: 220px;
    max-height: 36px;
}

.posit-header-logo-container {
    display: flex;
    align-items: center;
}

.posit-header-nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 90vh;
    justify-content: space-between;
    align-items: center;
}

.posit-header-nav-ul a {
    text-decoration: none;
    color: black;
    font-family: "Space Grotesk", sans-serif;
}

.posit-header-nav-ul li {
    transition: transform 0.5s ease-in-out;
}

.posit-header-nav-ul-button {
    border: 1px solid black;
    border-radius: 14px;
    width: 231px;
    height: 68px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}


.posit-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.posit-main-sec1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.posit-main-sec1-img {
    max-width: 700px;
    max-height: 615px;
}

.posit-main-sec1-text-header {
    font-size: 70px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

.posit-main-sec1-text-paragraph {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    margin-bottom: 35px;
}

.posit-main-sec-button {
    width: 264px;
    height: 68px;
    background-color: var(--dark);
    border: 0;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.posit-main-company-sec {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 70px;
}

.posit-main-company-sec-part1, .posit-main-company-sec-part2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.posit-main-company-sec-img {
    transition: transform 0.5s ease-in-out;
}

.posit-main-services-sec {
    margin-top: 140px;
    width: 80%;
}

.posit-main-services-sec-cards {
    height: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.posit-main-services-card-1 {
    width: 700px;
    height: 410px;
    background-color: var(--posit-white);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-2 {
    width: 700px;
    height: 410px;
    background-color: var(--dark);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-3 {
    width: 700px;
    height: 410px;
    background-color: var(--posit-green);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-4 {
    width: 700px;
    height: 410px;
    background-color: var(--posit-green);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-5 {
    width: 700px;
    height: 410px;
    background-color: var(--posit-white);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-card-6 {
    width: 700px;
    height: 410px;
    background-color: var(--dark);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 40px;
    box-shadow: 0 5px 0 black;
}

.posit-main-services-sec-cards-part2 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    flex-direction: column;
}

.posit-main-services-card-container {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}

.posit-main-services-card-container-part1-g {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.posit-main-services-card-container-part1-w {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.posit-main-services-card-container-part1-w h1 {
    background-color: var(--posit-white);
    padding: 5px;
    border-radius: 7px;
    font-size: 35px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

.posit-main-services-card-container-part1-g a {
    transition: transform 0.5s ease-in-out;
}

.posit-main-services-card-container-part1-w a {
    transition: transform 0.5s ease-in-out;
}

.posit-main-services-card-container-part1-g h1 {
    background-color: var(--posit-green);
    padding: 5px;
    border-radius: 7px;
    font-size: 35px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

.posit-main-proposal-sec {
    width: 80%;
    margin-top: 400px;
    background-color: var(--posit-white);
    height: 447px;
    border-radius: 45px;
}

.posit-main-proposal-sec-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    width: 90%;
    height: 80%;
}

.posit-main-proposal-sec-container-part1 {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.posit-main-proposal-sec-container-part1 h1 {
    padding: 5px;
    border-radius: 7px;
    font-size: 35px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.posit-main-proposal-sec-container-part1 p {
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-proposal-sec-container-part1 a {
    width: 288px;
}

.posit-main-proposal-sec-container-img {
    position: sticky;
    height: 559px;
}

.posit-main-proposal-sec-container-part1 button {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.posit-main-casestud-sec {
    margin-top: 140px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.posit-main-casestud-sec-cases {
    margin-top: 80px;
    background-color: var(--dark);
    width: 80%;
    height: 426px;
    border-radius: 45px;
}

.posit-main-casestud-sec-cases-container {
    margin: 90px 120px 90px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.posit-main-casestud-sec-cases-container > :nth-child(2) {
    border-left: 1px solid var(--posit-white);
    border-right: 1px solid var(--posit-white);
    padding: 0 64px 0 64px;
}

.posit-main-casestud-sec-case p {
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    color: var(--posit-white);
}

.posit-main-casestud-sec-case img {
    transition: transform 0.5s ease-in-out;
}

.posit-main-workproc-sec {
    margin-top: 140px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.posit-main-workproc-sec-stage {
    width: 80%;
    height: 159px;
    background-color: var(--posit-white);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 30px;
    box-shadow: 0 5px 0 black;
    overflow: hidden;
}

.posit-main-workproc-sec-stage-container {
    margin: 0 57px 21px 60px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.posit-main-workproc-sec-stage-container button {
    border-radius: 100px;
    width: 65px;
    height: 59px;
    margin-right: 15px;
    color: transparent;
    border: 0;
    cursor: pointer;
}

.posit-main-workproc-sec-stage-name {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1;
    height: 40%;
    position: sticky;
    padding-top: 41px;
}

.posit-main-workproc-sec-stage-name h1 {
    font-size: 60px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    margin: 0;
}

.posit-main-workproc-sec-stage-name h3 {
    font-size: 35px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    margin: 0 0 0 25px;
}

.posit-main-workproc-sec-stage-name-header {
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 1;
}

.posit-main-workproc-sec-stage-text {
    margin-top: 50px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-team-sec {
    margin-top: 140px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.posit-main-team-sec-inline {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.posit-main-team-sec-inline-staff {
    width: 447px;
    height: 331px;
    background-color: var(--posit-white);
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 30px;
    box-shadow: 0 5px 0 black;
    transition: transform 0.5s ease-in-out;
}

.posit-main-team-sec-inline-staff-container {
    margin: 40px;
}

.posit-main-team-sec-inline-staff-container p {
    margin-top: 30px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-team-sec-inline-staff-header {
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid black;
}

.posit-main-team-sec-inline-staff-header-name {
    margin: 0 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

.posit-main-team-sec-inline-staff-header-name h3 {
    margin: 0;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.posit-main-team-sec-inline-staff-header-name p {
    margin: 0;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    width: 21vh;
}

.posit-main-team-sec-inline:last-of-type {
    justify-content: flex-end;
}

.posit-main-reviews-sec {
    margin-top: 145px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.posit-main-contact-sec {
    margin-top: 145px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.posit-main-contact-sec-bg {
    width: 80%;
    background-color: var(--posit-white);
    height: 773px;
    overflow: hidden;
    border-radius: 45px;
}

.posit-main-contact-sec-container {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 80px 100px;
}

.posit-main-contact-sec-form {
    width: 596px;
}

.posit-main-contact-form-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posit-main-contact-form-header label input[type="radio"] {
    height: 28px;
    width: 28px;
    margin-right: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.posit-main-contact-form-header label input[type="radio"]:checked {
    background-color: var(--posit-green);
    padding: 6px;
    border-color: black;
    background-clip: content-box;
}

.posit-main-contact-form-header label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-contact-form-input {
    margin-top: 25px;
}

.posit-main-contact-form-input:first-of-type {
    margin-top: 40px;
}

.posit-main-contact-form-input h3 {
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-main-contact-form-input input {
    margin: 0;
    width: 556px;
    height: 59px;
    border-radius: 14px;
    border: 1px solid black;
    outline: none;

    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;

    padding-left: 30px;
}

.posit-main-contact-form-input:last-of-type input {
    height: 190px;
}

.posit-footer {
    margin-top: 140px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 544px;
}

.posit-footer-container-bg {
    background-color: var(--dark);
    width: 80%;
    border-radius: 45px;
    height: 584px;
}

.posit-footer-container {
    height: 100%;
    padding: 55px 50px 60px 60px;
}

.posit-footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posit-footer-header-nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 60vh;
    justify-content: space-between;
    align-items: center;
}

.posit-footer-header-nav-ul a {
    text-decoration: none;
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

.posit-footer-header-nav-ul li {
    transition: transform 0.5s ease-in-out;
}

.posit-footer-sec {
    margin-top: 66px;
    padding-bottom: 50px;
    height: 185px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.posit-footer-sec-contacts h3 {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    background-color: var(--posit-green);
    width: max-content;
    padding: 5px;
    border-radius: 7px;
    margin: 0;
}

.posit-footer-sec-contacts p {
    font-size: 18px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    margin-top: 20px;
}

.posit-footer-sec-contacts p:last-of-type {
    margin-top: 0;
}

.posit-footer-sec-subscription {
    background-color: #292A32;
    height: 100%;
    width: 684px;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.posit-footer-sec-subscription input {
    background-color: var(--dark);
    border: 1px solid white;
    border-radius: 14px;
    padding-left: 35px;
    width: 285px;
    height: 67px;

    font-size: 18px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

.posit-footer-copyright {
    margin-top: 50px;
    font-size: 18px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}


/* For iPhone 12 and higher */
@media screen and (min-width: 1170px) and (min-height: 2532px) {
    .posit-header-container {
        flex-wrap: wrap;
        flex-direction: column;
        height: 66px;
        overflow: hidden;
    }

    .posit-header-logo-container {
        width: 100%;
        justify-content: space-between;
    }

    .posit-header-wrap {
        display: block;
        width: 56px;
        height: 56px;
    }

    .posit-header-nav {
        width: 100%;
    }

    .posit-header-nav-ul {
        font-size: 36px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .posit-header-nav-ul-button {
        font-size: 26px;
    }

    .posit-main-sec1 {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .posit-main-sec1-text-header {
        font-size: 84px;
    }

    .posit-main-sec1-text-paragraph {
        font-size: 34px;
    }

    .posit-main-sec1-text a button {
        width: 100%;
        height: 150px;
        font-size: 35px;
        margin-bottom: 30px;
    }

    .posit-main-sec1-img {
        max-width: 936px;
        max-height: 100%;
    }

    .posit-main-company-sec {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .posit-main-company-sec-img {
        width: 13vh;
        height: 5vh;
    }

    .posit-main-company-sec-part1, .posit-main-company-sec-part2 {
        width: 100%;
    }

    .posit-main-company-sec-part1 {
        transform: translateX(10%);
    }

    .posit-main-company-sec-part2 {
        transform: translateX(-10%);
    }

    .posit-main-sec-header {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        h1 {
            font-size: 124px;
            border-radius: 35px;
        }
        p {
            font-size: 42px;
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    .posit-main-services-sec {
        width: 100%;
    }

    .posit-main-services-sec-cards {
        flex-wrap: wrap;
        flex-direction: column;
        height: max-content;
        align-items: center;
    }

    .posit-main-services-sec-cards-part1 div, .posit-main-services-sec-cards-part2 div {
        width: 1000px;
        div {
            width: 80%;
            div {
                width: max-content;
                a {
                    img {
                        width: 300px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }

    .posit-main-proposal-sec {
        margin-top: 100px;
        height: 600px;
    }

    .posit-main-proposal-sec-container {
        justify-content: center;
    }

    .posit-main-proposal-sec-container-part1 {
        align-items: center;
        h1 {
            font-size: 56px;
        }
        p {
            font-size: 32px;
            text-align: center;
        }
        a {
            width: 80%;

            button {
                width: 100%;
                height: 100px;
                font-size: 32px;
            }
        }
    }

    .posit-main-proposal-sec-container-img {
        display: none;
    }

    .posit-main-casestud-sec {
        align-items: center;
    }

    .posit-main-casestud-sec-cases {
        background-color: var(--dark);
        height: fit-content;
        width: 80%;
        display: flex;
        justify-content: space-between;

    }

    .posit-main-casestud-sec-cases-container {
        margin: 0;
        height: fit-content;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .posit-main-casestud-sec-case {
        background-color: var(--dark);
        height: 500px;
        width: max-content;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 40px;
        }
        a {
            img {
                height: 100px;
                width: 400px;
            }
        }
        margin-top: 50px;
    }

    .posit-main-casestud-sec-cases-container > :nth-child(2) {
        border-left: 0;
        border-right: 0;
        padding: 0;
    }

    .posit-main-casestud-sec-cases-container > :nth-child(3) {
        border-left: 0;
        border-right: 0;
        margin-bottom: 50px;
    }

    .posit-main-workproc-sec {
        align-items: center;
        header {
            h1 {
                font-size: 86px;
            }
        }
    }

    .posit-main-workproc-sec-stage-name-header {
        h3 {
            font-size: 54px;
        }
    }

    .posit-main-workproc-sec-stage-text {
        font-size: 20px;
        margin-top: 17px;
    }

    .posit-main-team-sec {
        justify-content: center;
        align-items: center;
    }

    .posit-main-team-sec-inline {
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 300px;

        button {
            width: 500px;
            height: 100px;
            font-size: 32px;
        }
    }

    .posit-main-team-sec-inline-staff {
        transform: scale(1.5);
        margin-top: 250px;
    }

    .posit-main-team-sec-inline-staff:nth-child(1) {
        margin-top: 0;
    }
}